@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Sofia Pro Soft';
  src: url('./fonts/SofiaProSoft-Medium.woff2') format('woff2'),
        url('./fonts/SofiaProSoft-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .font-sofia-pro {
    font-family: 'Sofia Pro Soft', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}